<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base/layout">
<head>
<title>Editar Usuario</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Marte System dashboard" />
<meta name="author" content="Rafael Eudes" />
<script type="text/javascript">
	function limparMensagem() {

		document.getElementById('p-mensagem-sucesso').innerHTML = '';
		document.getElementById('msgSucesso').innerHTML = '';
	}
</script>
</head>
<body>
<section layout:fragment="content">
<div id="page-wrapper">
    <div class="main-page signup-page">
        <div class="sign-up-row widget-shadow">
            <h5>Editar Usuario:</h5>
             <form action="#" id="formulario-cadastro" th:action="@{../usuario/salvarAlteracao}" th:object="${usuarioModel}" method="post">
				
				<!-- MENSAGEM A SER MOSTRADA APÓS EXECUTARMOS O POST -->
				<div th:if="${msg_resultado}" id="msgSucesso">
					<div class="alert alert-success" role="alert" >
						<p id="p-mensagem-sucesso" class="sucesso-msg"	th:text="${msg_resultado}">...</p>
					</div>								
				</div>
				
                <div class="sign-u">
                    <input type="text" placeholder="Cod" id="input-codigo" th:field="*{codigo}" required="required" readonly="readonly" hidden="true">
                    <div class="clearfix"> </div>
                </div>
						                
                <div class="sign-u">
                    <input type="text" placeholder="Nome" id="input-nome" th:field="*{nome}" required="required" onfocus="limparMensagem()">
                    <div class="clearfix"> </div>
                </div>
                <div class="sign-u">
                    <input type="text" placeholder="Login" id="input-login" th:field="*{login}"  required="required" >
                    <div class="clearfix"> </div>
                </div>
                
                <div class="sign-u">
                    <input type="password" placeholder="Password" id="input-senha" th:field="*{senha}">
                    <div class="clearfix"> </div>
                </div>
                
				<div class="sign-u">
				    <label for="checkbox-ativo">
				        <input type="checkbox" id="checkbox-ativo" name="ativo" th:field="*{ativo}" /> <span>Ativo</span>
				    </label>
				    <div class="clearfix"> </div>
				</div>
                
                <div class="sign-u">
   					<h4>Perfil:</h4>
						<th:block th:each="grupo, stat : ${grupos}">
	                       <div class="checkbox">
                              <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" th:for="${__${grupo.codigo}__}">
                                  <input type="checkbox" th:id="${__${grupo.codigo}__}" th:name="|grupos[${stat.index}]|" th:value="${grupo.codigo}" class="mdl-checkbox__input" th:checked="${grupo.checked}" /> <span class="mdl-checkbox__label" th:text="${grupo.descricao}">...</span>
                              </label>
	                       </div>
	                  	</th:block>
                    <div class="clearfix"> </div>
                </div>

                <div class="sub_home">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Salvar</button>
                    <div class="clearfix"> </div>
                </div>
            </form>
        </div>
	</div>
</div>
</section>
</body>
</html>