<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="Marte System dashboard" />
<meta name="author" content="Rafael Eudes" />

<link rel="stylesheet" th:href="@{/css/material.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<script type="text/javascript" th:src="@{/js/material.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

<style type="text/css">
	.mdl-layout {
	    align-items: center;
	    justify-content: center;
	}
	
	.mdl-layout__content {
	    padding: 24px;
	    flex: none;
	}
</style>

<title>Sistema Controle de OS - Login</title>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-color--blue-grey-100">
	<div class="main-page login-page ">
		<h2 class="title1">Login</h2>
		<div class="widget-shadow">
			<div class="login-body">
    			<form action="#" th:action="@{/}" method="post">
					<span th:if="${param.error}"> <span style='color: red'
						th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
					</span>
					
				
					<input type="text" class="user"  name="username" placeholder="Usuario"  id="input-usuario" required="required">
					<input type="password" name="password" class="lock" placeholder="Senha" id="input-senha">
					<div class="forgot-grid">
						<label class="checkbox"><input type="checkbox" id="remember" name="remember-me" checked="checked"><i></i>Remember me</label>

						<div class="clearfix"> </div>
					</div>
					<input type="submit" name="Sign In" value="Sign In">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					
				</form>
			</div>
		</div>				
	</div>
</div>
</body>

</html>