<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <title>Marte System Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Marte System dashboard" />
    <meta name="author" content="Rafael Eudes" />


    <link rel="stylesheet" th:href="@{/css/material.min.css}" />
    <link rel="stylesheet" th:href="@{/css/sistema.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/style2.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/SidebarNav.min.css}" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}" />
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>	
	
	<script type="text/javascript" th:src="@{/js/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/modernizr.custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/Chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/metisMenu.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/custom.js}"></script>
    <script type="text/javascript" th:src="@{/js/pie-chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/owl.carousel.js}"></script>
    <script type="text/javascript" th:src="@{/js/Chart.bundle.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>    
    <script type="text/javascript" th:src="@{/js/jquery.nicescroll.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/js/SidebarNav.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/classie.js}"></script> 
     
    
    <script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/dataTables.bootstrap4.min.js}"></script> 

</head>

<body class="cbp-spmenu-push">

    <!-- FORM QUE VAI SER USADO PARA REALIZAR O LOGOUT -->
    <form th:action="@{/logout}" id="form_logou" th:method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>

    <div class="main-content">
        <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <!--left-fixed -navigation-->
            <aside class="sidebar-left">
                <nav class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                        <h1>
                        <a class="navbar-brand"th:href="@{/home}">
                        <span class="fa fa-area-chart">
                        	</span>Marte<span class="dashboard_text">System dashboard</span>
                        </a>
                     </h1>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="sidebar-menu">
                            <li class="header">Menu de Navegação</li>
                            
                             <li class="treeview">
                                <a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/home}"><i class="fa fa-arrow-circle-right"></i>Home</a></li>    
                                    <li><a th:href="@{/dashboard/painel?ano=2022}"><i class="fa fa-arrow-circle-right"></i>Painel 2022</a></li>                                
                                    <li><a th:href="@{/dashboard/painel?ano=2021}"><i class="fa fa-arrow-circle-right"></i>Painel 2021</a></li>
                                    <li><a th:href="@{/dashboard/painel?ano=2020}"><i class="fa fa-arrow-circle-right"></i>Painel 2020</a></li>
                                    <li><a th:href="@{/dashboard/painel?ano=2019}"><i class="fa fa-arrow-circle-right"></i>Painel 2019</a></li>
                                </ul>
                            </li>
                              
							<li class="treeview">
								<a th:href="@{/ordemServico/novoCadastro}"><i class="fa fa-laptop"></i> <span>Cadastro OS</span> <span class="label label-primary pull-right">new</span></a>
							</li>
							
							<li class="treeview">
								<a href=""> <i class="fa fa-send"></i> <span>Operação</span> <i class="fa fa-angle-left pull-right"></i> </a>
									<ul class="treeview-menu">
									<li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1000}"><i class="fa fa-arrow-circle-right"></i>OS NOVA</a></li>
									<li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1100}"><i class="fa fa-arrow-circle-right"></i>EM DESV</a></li>
									<li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1300}"><i class="fa fa-arrow-circle-right"></i>PE INFO</a></li>
									<li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1200}"><i class="fa fa-arrow-circle-right"></i>EM HOMO</a></li>
									<li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=3}   "><i class="fa fa-arrow-circle-right"></i>OS FECH</a></li>
								</ul>
							</li>
							
                            <li class="treeview">
                                <a href="#"><i class="fa fa-search"></i> <span>Consulta</span> <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=0}"><i class="fa fa-arrow-circle-right"></i>Todas</a></li>
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1}"><i class="fa fa-arrow-circle-right"></i>Fora do Prazo Mes</a></li>
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=2}"><i class="fa fa-arrow-circle-right"></i>Fora do Prazo Todas</a></li>
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=4}"><i class="fa fa-arrow-circle-right"></i>Diario</a></li>
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=9998}"><i class="fa fa-arrow-circle-right"></i>Canceladas</a></li>
                                    <li><a th:href="@{/ordemServico/consultarOrdemServico?codigo=1400}"><i class="fa fa-arrow-circle-right"></i>Na Gerência</a></li>
                                </ul>
                            </li>
                            
                            <li class="treeview">
                                <a href="#"> <i class="fa fa-user"></i> <span>Controle de Usuario</span><i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/usuario/novoCadastro}"><i class="fa fa-arrow-circle-right"></i>Cadastro</a></li>
                                    <li><a th:href="@{/usuario/consultar}"><i class="fa fa-arrow-circle-right"></i>Lista de Usuarios</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="#"> <i class="fa fa-cog"></i> <span>Configuração</span><i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a th:href="@{/operacaoEspecial/excel}"><i class="fa fa-arrow-circle-right"></i>Backup Base</a></li>
                                </ul>
                            </li>
              			</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </aside>
        </div>
        <!--left-fixed -navigation-->
        <!-- header-starts -->
        <div class="sticky-header header-section ">
            <div class="header-left">
                <!--toggle button start-->
                <button id="showLeftPush">
                    <i class="fa fa-bars"></i>
                </button>

                <!--notification menu end -->
                <div class="clearfix"></div>
            </div>
            <div class="header-right">

                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <div class="profile_img">
                                    <span class="prfil-img"><img th:src="@{/images/2.jpg}" alt=""/>
                                    <div class="user-name">
                                        <p th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
                                        <span>Bem vindo</span>
                                    </div>
                                    <i class="fa fa-angle-down lnr"></i> <i class="fa fa-angle-up lnr"></i>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu">
                                <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                                <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                                <li><a href="#"><i class="fa fa-suitcase"></i> Profile</a>
                                </li>
                                <li><a onclick="document.getElementById('form_logou').submit();"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> 

        </div>
        <!-- //header-ends -->

        <!-- CONTEUDO A SER SUBSTITUÍDO -->  
<!--         <div class="scrollbar" id="style-1" style="height : 578px">     -->
        	<div layout:fragment="content"></div>
<!--      	</div> -->

     	<div class="footer">
	  		 <p>&copy; 2020 Marte System Dashboard | Versão 1.12 | Design by <a href="#" target="_blank">Eudesrt</a></p>		
		</div>

    </div>
    

    <script>
        $('.sidebar-menu').SidebarNav()
    </script>
    
    
	<script>
		var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
			showLeftPush = document.getElementById( 'showLeftPush' ),
			body = document.body;
			
		showLeftPush.onclick = function() {
			classie.toggle( this, 'active' );
			classie.toggle( body, 'cbp-spmenu-push-toright' );
			classie.toggle( menuLeft, 'cbp-spmenu-open' );
			disableOther( 'showLeftPush' );
		};
		
		
		function disableOther( button ) {
			if( button !== 'showLeftPush' ) {
				classie.toggle( showLeftPush, 'disabled' );
			}
		}
	</script>
</body>

</html>